name: Waka Readme

on:
  schedule:
    - cron: "0 0 * * *"   # каждый день в 00:00 UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    name: Update README with WakaTime stats
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          LOCALE: "ru"
          SHOW_PROJECTS: "True"
          SHOW_OS: "True"
          SHOW_EDITORS: "True"
          SHOW_TOTAL_CODE_TIME: "True"
          SHOW_LINES_OF_CODE: "False"
